[user]
	name = James Zingel
	email = james@zingel.nz
[core]
	autocrlf = input
	excludesfile = ~/.gitignore_global
	editor = nvim
[commit]
	template = /Users/james/.stCommitMsg
[merge]
	tool = vimdiff
	conflictstyle = diff3
[alias]
    a = add
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[github]
	user = jrzingel
