# Greek Letters

snippet @a alpha
	\alpha ${0}

snippet @b beta
	\beta ${0}

snippet @g gamma
	\gamma ${0}

snippet @d delta
	\delta ${0}

snippet @e epsilon
	\epsilon ${0}

snippet @s sigma
	\sigma ${0}

snippet @o omega
	\omega ${0}

snippet @p phi
	\phi ${0}

snippet :p special phi
	\varphi ${0}

# Environments

snippet beg new environment
	\begin{${0}}
		${1}
	\end{${0}}

